.header {
  background: color #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
}

.header .header-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.header .header-header .hh-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header .header-header .hh-logo img:first-child {
  width: 30px;
  height: 30px;
}

.header .header-header .hh-logo p {
  margin: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  position: relative;
  right: 10px;
  top: 9px;
}

.header .header-header .header-nav {
  display: none;
}

.header .header-header img:last-child {
  color: #000000;
  margin-right: 10px;
}

.header .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main p {
  font-weight: 500;
  font-size: 15px;
  margin-top: 30px;
  color: #858585;
}

.header .header-main h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  margin: 20px 0;
  font-size: 30px;
}

.header .header-main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
  width: 280px;
  height: 20px;
}

.header .header-main div a:first-child {
  background-color: #000000;
  color: #FFFFFF;
}

.header .header-main div a:last-child {
  border: solid 1.5px #000000;
  color: #000000;
}

.header .header-main div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 7px;
  width: 110px;
  height: 25px;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  border: solid 1px #000000;
  border-radius: 6px;
}

.header .img-piano-header {
  margin-top: 30px;
  width: 90%;
}

.header .barra-sm {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header .header-header {
    padding: 0 20px;
  }
  .header .header-header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: auto;
    margin-right: 30px;
  }
  .header .header-header .header-nav .h-nav-a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 20px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 600;
  }
  .header .header-header .header-nav .h-nav-a:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 7px;
    width: 110px;
    height: 25px;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    border: solid 1px #000000;
    border-radius: 6px;
    background-color: #000000;
    color: #FFFFFF;
  }
  .header .header-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: none;
    align-items: center;
  }
  .header .header-main h1 {
    font-size: 60px;
  }
  .header .img-piano-header {
    width: 80%;
  }
  .header .barra-sm {
    border: solid 1px black;
    width: 30px;
    height: 130px;
    position: -webkit-sticky;
    position: sticky;
    top: 1000px;
  }
  .header .barra-sm img {
    margin: 8px 0;
  }
}

.section-metodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 320px;
  height: 778px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(37.19%, rgba(0, 0, 0, 0.75)), color-stop(76.04%, rgba(0, 0, 0, 0.75)), to(#FFFFFF));
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
}

.meth {
  position: absolute;
  text-align: center;
  margin-top: 15px;
  font-size: 24px;
}

.vid {
  position: absolute;
  z-index: -1;
  top: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.piano_met {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 280px;
  margin-top: 80px;
  margin-left: 15px;
}

.overlay {
  position: static;
  width: 360px;
  height: 406px;
  margin-top: 0px;
}

.ebony {
  position: absolute;
  top: 320px;
  margin-left: 50px;
  text-align: center;
  color: white;
  font-family: Abril Fatface;
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: normal;
}

.star {
  position: absolute;
  bottom: 355px;
  right: 60px;
  color: white;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}

.price {
  position: absolute;
  top: 395px;
  left: 50px;
  color: white;
  text-align: center;
  font-family: Abril Fatface;
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: normal;
}

.text {
  width: 5000VH;
  color: white;
}

.parra {
  position: absolute;
  top: 450px;
  text-align: center;
  right: 5PX;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  color: white;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 615px;
  margin-right: 10px;
  color: white;
}

.items img {
  width: 4px;
  height: 4px;
  margin: 0 5px;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.items p {
  font-size: 14px;
  color: white;
  text-align: justify;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 700px;
  margin-left: 43px;
  width: 228px;
  height: 32px;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  border: solid 1px #000000;
  border-radius: 8px;
  background: black;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .section-metodo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(37.19%, rgba(0, 0, 0, 0.75)), color-stop(76.04%, rgba(0, 0, 0, 0.75)), to(#FFFFFF));
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
    width: 1024px;
    height: 851px;
  }
  .overlay {
    position: static;
    width: 760px;
    height: 506px;
  }
  .vid {
    position: absolute;
    z-index: -1;
    top: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .meth {
    position: absolute;
    text-align: center;
    top: 15px;
    left: 270px;
    right: 390px;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
  }
  .piano_met {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 520px;
    height: 480px;
    left: 460px;
    top: 25px;
  }
  .ebony {
    position: absolute;
    top: 150px;
    left: 23px;
    text-align: center;
    color: white;
    font-family: Abril Fatface;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
  }
  .star {
    position: absolute;
    bottom: 590px;
    right: 400px;
    color: white;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
  }
  .price {
    position: absolute;
    top: 245px;
    left: 70px;
    color: white;
    font-family: Abril Fatface;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
  }
  .parra {
    position: absolute;
    top: 300px;
    left: 45px;
    right: 500PX;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    color: white;
  }
}

.section-pianos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
  background-color: #EDEDED;
  padding: 0;
}

.section-pianos h2 {
  width: 250px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  font-size: 24px;
}

.section-pianos .sec-articulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.section-pianos .sec-articulos .sec-piano-art {
  width: 280px;
  height: 350px;
  margin: 15px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 8px 4px;
}

.section-pianos .sec-articulos .sec-piano-art h3 {
  border-top: dashed #DBDBDB;
  margin: 0;
  padding-top: 20px;
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
}

.section-pianos .sec-articulos .sec-piano-art .piano-especificaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.section-pianos .sec-articulos .sec-piano-art .piano-especificaciones img {
  width: 4px;
  height: 4px;
  margin: 0 5px;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.section-pianos .sec-articulos .sec-piano-art .piano-especificaciones p {
  color: #000000;
  font-size: 14px;
  text-align: center;
  margin: 0px;
}

.section-pianos .sec-articulos .sec-piano-art .precio-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 0 5px;
}

.section-pianos .sec-articulos .sec-piano-art .precio-cart .piano-precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 7px;
  width: 110px;
  height: 25px;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  border: solid 1px #000000;
  border-radius: 6px;
  background-color: #000000;
  color: #FFFFFF;
  width: 150px;
  height: 40px;
  margin: 0;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
}

.section-pianos .sec-articulos .sec-piano-art .precio-cart img {
  border-radius: 5px;
  width: 25px;
  height: 25px;
  -webkit-filter: invert(100);
          filter: invert(100);
}

.section-pianos .sec-articulos .sec-piano-art .precio-cart .carrito {
  background-color: #000000;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.section-pianos .sec-articulos .sec-piano-art .piano-img-rec {
  display: none;
}

.section-pianos a {
  border: solid 1px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 7px;
  width: 110px;
  height: 25px;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  border: solid 1px #000000;
  border-radius: 6px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  width: 130px;
  margin: 25px 0;
}

@media only screen and (min-width: 1024px) {
  .section-pianos h2 {
    width: 350px;
  }
  .section-pianos .sec-articulos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-pianos .sec-articulos .sec-piano-art .piano-especificaciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5px;
  }
  .section-pianos .sec-articulos .sec-piano-art .piano-especificaciones p {
    color: #000000;
    font-size: 12px;
    text-align: center;
  }
  .section-pianos .sec-articulos .sec-piano-art .piano-especificaciones img {
    width: 4px;
    height: 4px;
    margin: 0 2px;
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
  }
  .section-pianos .sec-articulos .sec-piano-art .precio-cart {
    padding: 0px;
  }
}

.section-contacto {
  display: block;
  padding: 20px 0px;
  background-image: url("/assets/backgrounds/darius-soodmand-F8E2tks5N04-unsplash 2.png");
  background-size: cover;
  opacity: 80%;
}

h1, .contact {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  color: black;
  z-index: 1;
}

.nom, .tel, .correo, .comentarios {
  color: black;
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.informacion {
  padding: 10px;
}

input {
  opacity: 60%;
  border: black solid 1px;
  color: white !important;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nombre, .telefono, .email {
  width: 90%;
  height: 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.comentario {
  width: 100%;
  height: 50px;
}

button {
  background-color: black;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(gray));
  background-image: linear-gradient(white, gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logoP {
  margin: 10px 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.social {
  margin: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

section.textos, section.contacto {
  text-align: center;
}

section.textos {
  line-height: 30px;
}

li {
  list-style: none;
}

.textos {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=styles.css.map */