footer{
    background-image: linear-gradient(white,gray);
    display: flex;
    flex-direction: column;
}
.logoP{
    margin: 10px 10;
    box-sizing: border-box;
    text-align: center;
}


.social{
    margin: 5px 10px;
    box-sizing: border-box;
    text-align: center;
}

section.textos, section.contacto{
    padding: 20px;
    text-align: center;
    justify-content: space-around;
}

section.textos{
    line-height: 30px;
}

li{
    list-style: none;
}

.textos{
    box-sizing: border-box;
    flex-direction: column;
}