.section-contacto{
    
    display: block;
    padding: 20px 0px;
    background-image: url("/assets/backgrounds/darius-soodmand-F8E2tks5N04-unsplash 2.png");
    background-size: cover;
    opacity: 80%;
}

h1, .contact{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    color: black;
    z-index: 1;
}

.nom, .tel, .correo, .comentarios{
    color: black;
    background-color: black;
    box-sizing: border-box;
}

.informacion{
   padding: 10px; 
}

input{ 
    opacity: 60%;
    border: black solid 1px;
    color: white !important;
    margin: 8px 0;
    box-sizing: border-box;
}
.nombre, .telefono, .email{
    width: 90%;
    height: 30px;
    box-sizing: content-box;
}

.comentario{
    width: 100%;
    height: 50px;
}

button{
    background-color: black;
    color: white;
    box-sizing: border-box;
}


