.section-contacto{
    
    display: block;
    padding: 20px 0px;
    background-image: url("/assets/backgrounds/darius-soodmand-F8E2tks5N04-unsplash 2.png");
    background-size: cover;
    opacity: 60%;
}
h1, p{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    color: black;
}

.informacion{
    margin: auto 40%;
}

label{
    padding: 10px 10px;
}
input{ 
    opacity: 60%;
    border: black solid 1px;
    color: white !important;
    margin: 8px 0;
    box-sizing: border-box;
}
.nombre{
    width: 100%;
}
.telefono, .email{
    width: 45%;
}

.email{
    width: 100%;
    height: 20px;
}

button{
    background-color: black;
    color: white;
    box-sizing: border-box;
}


