///----Mobile
.section-metodo{
    display: flex;
    position: relative;
    width: 320px;
    height: 778px;
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
}
.meth{
    position: absolute;
    text-align: center;
    margin-top: 15px;
    font-size: 24px;
}
.vid{
    position: absolute;
    z-index: -1;
    top: 90px;
    width: 100%;
    display: flex;
}
.piano_met{
    display: flex;
    position: absolute;
    width: 100%;
    height: 280px;
    margin-top: 80px;
    margin-left: 15px;
}
.overlay{
    position: static;
    width: 360px;
    height: 406px;
    margin-top: 0px;
}
.ebony{
    position: absolute;
    top: 320px;
    margin-left: 50px;
    text-align: center;
    color: white;
    font-family: Abril Fatface;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
}
.star{
   position: absolute;
   bottom:355px;
   right: 60px;
   color: white;
   font-family: Raleway;
   font-style: normal;
   font-weight: bold;
}
.price{
   position: absolute;
   top:395px;
   left: 50px;
   color: white;
   text-align: center;
   font-family: Abril Fatface;
   font-family: Abril Fatface;
   font-style: normal;
   font-weight: normal; 
}
.text{
    width: 5000VH;
    color: white;
}
.parra{
   position: absolute;
   top: 450px;
   text-align: center;
   right: 5PX;
   font-family: Raleway;
   font-style: normal;
   font-weight: normal;
   color: white;
}
.items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 615px;
    margin-right: 10px;
    color: white;

    img {
        width: 4px;
        height: 4px;
        margin: 0 5px;
        filter: brightness(0.5);
    }

    p  {
        font-size: 14px;
        color: white;
        text-align: justify;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
    }
}
.button{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 700px;
    margin-left: 43px;
    width: 228px;
    height: 32px;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    border: solid 1px $color-primario;
    border-radius: 8px;
    background: black;
    color: white;
}

@media only screen and (min-width:1024px) {
    .section-metodo{
        display: flex;
        position: relative;
        background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
        width: 1024px;
        height: 851px;
    }
    .overlay{
        position: static;
        width: 760px;
        height: 506px;
    }
    .vid{
        position: absolute;
        z-index: -1;
        top: 10px;
        width: 100%;
        display: flex;
    }
    .meth{
        position: absolute;
        text-align: center;
        top: 15px;
        left: 270px;
        right: 390px;
        font-family: Abril Fatface;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 43px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
    }
    .piano_met{
        display: flex;
        position: absolute;
        width: 520px;
        height: 480px;
        left: 460px;
        top: 25px;
    }
    .ebony{
        position: absolute;
        top: 150px;
        left: 23px;
        text-align: center;
        color: white;
        font-family: Abril Fatface;
        font-family: Abril Fatface;
        font-style: normal;
        font-weight: normal;
    }
    .star{
        position: absolute;
        bottom:590px;
        right: 860px;
        color: white;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
     }
     .price{
        position: absolute;
        top:245px;
        left: 70px;
        color: white;
        font-family: Abril Fatface;
        font-family: Abril Fatface;
        font-style: normal;
        font-weight: normal; 
     }
     .parra{
        position: absolute;
        top: 300px;
        left: 45px;
        right: 500PX;
        justify-content: right;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        color: white;
     }

     .button{
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 20px;
        left: 355px;
        width: 228px;
        height: 32px;
        font-weight: 600;
        font-size: 13px;
        text-decoration: none;
        border: solid 1px $color-primario;
        border-radius: 8px;
        background: black;
        color: white;
    }
    
     
    

}










