$color-primario: #000000;
$color-primario_2: #FFFFFF;
$color-secundario: #FFBA60;
$color-primario-hover: rgba(0, 0, 0, 0.75);
$color-bg-blanco: rgba(0, 0, 0, 0.08);
$color-bg-negro: rgba(0, 0, 0, 0.08);